@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
}

:root {
  @apply bg-[#ECECEC] dark:bg-dark-bg;
}

/* width */
::-webkit-scrollbar {
    @apply w-2 opacity-20;
}
  
/* Track */
::-webkit-scrollbar-track {
    @apply rounded-bl-md rounded-br-md bg-light-bg opacity-20;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-md bg-dark-bg transition ease-in-out duration-500 bg-opacity-40;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-opacity-100 transition ease-in-out duration-500;
}

.custom-sidebar-gap {
  gap-y: 10vh;
}

h4,
.h4 {
  @apply text-xl font-bold text-[#272F35] dark:text-dark-text;
}

h5,
.h5 {
  @apply text-2xl md:text-2xl font-bold text-[#272F35] hover:tracking-widest duration-1000 ease-in-out dark:text-dark-text;
}

h3,
.h3 {
  @apply text-3xl font-bold  text-[#272F35] dark:text-dark-text;
}

.h3-inverse {
  @apply text-3xl font-bold text-dark-text dark:text-[#272F35];
}


h2,
.h2 {
  @apply text-4xl font-bold text-[#272F35] dark:text-dark-text;
}

h1,
.h1 {
  @apply text-6xl font-bold text-[#272F35] dark:text-dark-text;
}

p,
.p {
  @apply text-[#272F35] dark:text-dark-text text-lg;
}

.p-inverse {
  @apply text-dark-text dark:text-[#272F35];
}

ul,
.ul {
  @apply text-[#272F35] dark:text-dark-text
}

.ul-inverse {
  @apply text-dark-text dark:text-[#272F35];
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
